altair
appdirs
asttokens
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
cmdstanpy
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fastjsonschema
fonttools
frozendict
gitdb
GitPython
holidays
html5lib
idna
importlib_resources
ipeadatapy
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
missingno
multitasking
nbformat
nest-asyncio
numpy
packaging
pandas
pandas-datareader
pandas-ta
parso
patsy
peewee
pillow
platformdirs
plotly
prompt-toolkit
prophet
protobuf
psutil
pure-eval
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
seaborn
six
smmap
soupsieve
stack-data
stanio
statsmodels
streamlit
streamlit-nightly
tenacity
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
webencodings
xgboost
yfinance==0.2.38
